<div class="container mt-5">
  <div class="row mt-5">
    <div class="col s12 m6 offset-m3">
      <form #Login="ngForm" (ngSubmit)="onSubmit(Login.value)" class="center-align">
        <div class="mb-3">
          <img src="../assets/icons/icon-72x72.png" class="responsive-img animated infinite pulse">
        </div>
        <!-- <a [routerLink]="['/auth/register']" class="uk-float-right">Don't have an account?</a> -->
        <div class="row">
          <div class="input-field col s12">
            <input id="phone_number" type="text" class="validate">
            <label for="phone_number">Phone Number</label>
          </div>
          <div class="input-field col s12">
            <input id="pin" type="password" class="validate">
            <label for="pin">PIN</label>
          </div>
        </div>
        <div class="row centered">
          <button type="submit" class="btn waves-effect blue white-text" [disabled]="busy || !Login.valid">Sign In
          </button>
        </div>
      </form>
      <p class="center-align">
        <a [routerLink]="['/auth/register']" class="uk-text-muted">Don't have an account?</a>
      </p>
      <p class="center-align">
        <a [routerLink]="['/auth/forgot']" class="uk-text-muted">Forgot password?</a>
      </p>
    </div>
  </div>
</div>
<div class="loading" *ngIf="busy">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
