<div class="carousel carousel-slider center" style="height: 100vh;">
  <div class="carousel-fixed-item center">
    <a [routerLink]="['/']" class="btn waves-effect white grey-text darken-text-2 btn-small">Skip</a>
    <a class="btn waves-effect blue grey-text white-text">Get Started</a>
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
    <img src="assets/images/precious-white.jpg" class="responsive-img">
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
</div>
