<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Welcome, Rexford</span>
          <div class="divider"></div>
          <a [routerLink]="['/a']" class="black-text waves-effect">
            <h4 class="mt-0">
              <small>Balance
                <span class="grey-text darken-3" style="font-size: 1rem;">Wallet Name</span>
              </small>
              <br>3,203 GHS</h4>
            <p class="flow-text">Last Transaction:
              <br> 300 GHS, MTN Mobile Money
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="collection with-header">
        <div class="collection-header">
          <h4 class="flow-text">Recent Transactions</h4>
        </div>
        <a class="collection-item avatar black-text waves-effect" [routerLink]="['/d/transaction_id']">
          <img src="assets/brands/mtn.jpg" alt="" class="circle">
          <span class="title">MTN Mobile Money</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing edivt.
            <br>
            <span class="grey-text darken-2">9th May, 2018</span>
          </p>
          <a href="#!" class="secondary-content">
            <i class="material-icons green-text">arrow_upward</i>
          </a>
        </a>
        <a class="collection-item avatar black-text" [routerLink]="['/d/transaction_id']">
          <img src="assets/brands/airtel.png" alt="" class="circle">
          <span class="title">Airtel Money</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing edivt.
            <br>
            <span class="grey-text darken-2">9th May, 2018</span>
          </p>
          <a href="#!" class="secondary-content">
            <i class="material-icons red-text">arrow_downward</i>
          </a>
        </a>
        <a class="collection-item avatar black-text" [routerLink]="['/d/transaction_id']">
          <img src="assets/brands/vodafone.jpg" alt="" class="circle">
          <span class="title">Vodafone Cash</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing edivt.
            <br>
            <span class="grey-text darken-2">9th May, 2018</span>
          </p>
          <a href="#!" class="secondary-content">
            <i class="material-icons green-text">arrow_downward</i>
          </a>
        </a>
        <a [routerLink]="['/t']" class="collection-item flow-text black-text">
          <div>View more
            <a class="secondary-content">
              <i class="material-icons">navigate_next</i>
            </a>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
